body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  border-spacing: 0;
}

th{
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
  background-color: transparent; 
  transition: all 250ms linear;
}
td{
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
  background-color: transparent; 
  transition: all 250ms linear;
}
tbody>tr>td:nth-child(1){
  font-weight: 700;
  border-left: 1px solid #eee;
}
tbody>tr:last-child>td{
  border-bottom: 1px solid #eee;
}

tbody>tr:nth-child(even){
  background-color: #f8f8f8;
}

tr{
  transition: all 250ms linear;
}
tbody>tr:last-child>td:last-child{
  border-bottom-right-radius: 10px;
}
tbody>tr:last-child>td:nth-child(1){
  border-bottom-left-radius: 10px;
}
thead>tr>th:last-child{
  border-top-right-radius: 10px;
}
thead>tr>th:nth-child(1){
  border-left: 1px solid #eee;
  border-top-left-radius: 10px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  margin-bottom: 15px;
  padding: 10px 20px;
  display: inline-block;
  border-radius:  3px;
  outline: none;
  border: 1px solid #eee;
  background: #fff;
}
form>button{
  width: 100%;
  display: inline-block;
  border-radius:  3px;
  outline: none;
  border: 1px solid #eee;
  background: #f8f8f8;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 250ms linear;
}
form>button:hover{
  opacity: 0.5;
}
.form-error{
  color: red;
}

.seem-cell{
  background-color: aqua;
}